<div class="container">
<nav class="navbar navbar-fixed-top mark-nav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to image_tag("header-logo.png"), root_path %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if !current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Login with Twitter", twitter_login_path, class:"btn btn-primary btn-nav" %></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="btn btn-primary btn-nav">Post New Tweet</a></li>
        <li><%= link_to "Timeline", home_path, class:"btn btn-primary btn-nav" %></li>
        <li><%= link_to "My Profile", profile_path, class:"btn btn-primary btn-nav" %></li>
        <li><%= link_to "Followers", followers_path, class:"btn btn-primary btn-nav" %></li>
        <li><%= link_to "Log Out", logout_path, class:"btn btn-primary btn-nav" %></li>
      </ul>
    <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
